modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"
packages = ["vercel-pkg"]

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "vm"
run = ["python", "app.py"]

[userenv]

[userenv.shared]
WEBAPP_URL = "https://2451be78-0034-469f-924f-90ea1c442295-00-3igcpsyi9tmo0.riker.replit.dev"
