modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "python app.py"]

[userenv]

[userenv.shared]

[userenv.development]
WEBAPP_URL = "https://62acf781-1fb6-4458-8971-89f6936d4cce-00-n7nyinphwds1.picard.replit.dev/"

[userenv.production]
WEBAPP_URL = "https://bot-bot--tmcvpgg.replit.app"
