modules = ["python-3.11", "postgresql-16"]

[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["gunicorn", "--bind=0.0.0.0:5000", "--workers=1", "--threads=4", "--timeout=120", "wsgi:app"]

[userenv]

[userenv.shared]

[userenv.development]
WEBAPP_URL = "https://143faab4-d30f-471f-89ed-363eccef1d33-00-bxlqjrort3bs.riker.replit.dev/"

[userenv.production]
WEBAPP_URL = "https://bot-drama--h0k31dvet.replit.app"
